body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}

section {
    max-width: 100%;
    min-height: 100px;
    display: flex;
}

.img {
    background-image: url(/images/edubanner.jpg);
    width: 28%;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    width: 70%;
    min-height: 100px
}

.text p {
    font-size: 40px;
    font-style: italic;
    color: blue;
    margin-left: 10px;
}

.navbar {
    max-width: 100%;
    min-height: 100px;
    background: blue;
}

.one {
    cursor: pointer;
    text-align: center;
    padding: 30px 0;
}

.nav-link {
    margin-left: 30px;
    font-size: 30px;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
}

#mybutton {
    padding: 10px 25px;
    border-style: solid;
    box-shadow: skyblue 0 0 2px 1px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container {
    max-width: 100%;
    min-height: 600px;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    background-image: url(/images/edubanner.jpg);
}

.contact {
    max-width: 60%;
    min-height: 100px;
    background: blue;
    font-size: 30px;
    color: darkblue;
    text-align: center;
    margin: 0 auto;
}

.contact p {
    padding-top: 30px;
}

.form {
    max-width: 60%;
    min-height: 400px;
    background: lightblue;
    margin: 0 auto;
}

input, select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background: skyblue;
  }

  .page-footer {
    min-height: 100px;  
    background: skyblue;
    font-size: 20px;
    color: blue;
    text-align: center;

}

.bold {
    font-size: 40px;
    font-style: italic;
}

.footer-copyright {
    background: rgb(209, 231, 240);
    color: blue;
    padding: 10px 0;
    font-size: 20px;
}
